<div class="container">
  <div class="row">
    <div class="col-md-4 profile">
      <h2>User: <%= @user.email %> </h2>
    </div>

    <div class="col-md-8 to-do">
      <h2>My Lists: </h2>
    </div>
  </div>


<!-- 1st div -->
</div>
