<div class="container">
  <div class="row">
    <div>
      <h2>User: <%= current_user.email %> </h2>
    </div>

    <div class="col-md-6 adding">
      <%= render 'items/form', locals: { item: @item } %>
    </div>

    <div id= "todoList" class="col-md-6 to-do">
      <h2> To Do List</h2>
      <%= render partial: 'items/item', locals: { user: current_user } %>
    </div>
  </div>
<!-- 1st div -->
</div>
