<h1>Welcome to Blocitoff</h1>
<br>
<h4>This is the home page for the Rails application Blocitoff.</h4>

<ul>
<li>Are you tired of forgetting things?</li>
<br>
<li>Do you need a creative way to keep track of your tasks?</li>
<br>
<li>Blocitoff is just for you!</li>
</ul>

<button type="button" class="start-btn"><%= link_to "Start Here", welcome_index_path %>
</button>
<br><br>
