<% user.items.each do |item| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= item.name %>
      </h4>
      <%= link_to "", user_item_path(user_id: user.id, id: item.id),
      method: :delete, class: 'complete-icon glyphicon glyphicon-ok', remote: true  %>
      <small>
         <%= distance_of_time_in_words(Time.now, item.created_at.to_date + 7) %> left <br>
      </small>
    </div>
  </div>
<% end %>
