// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .profile {
//   background-color: #dad7c7;
//   color: #000;
//   height: 800px;
// }

.to-do {
  background-color: #dad7c7;
  color: #000;
  text-align: center;
  height: 800px;
}

.adding {
  background-color: #bfc5c4;
  color: #000;
  text-align: center;
  height: 800px;
}
