// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start-btn {
  border-radius: 10px;
  height: 40px;
  width: 100px;
  background-color: #ffdbdb;
  color: #1d1f5f;
}
